# Brazilian Ecommerce Dataset

## Importing the data into Python variables

### Import applicable libraries

In [1]:
import pandas as pd
import seaborn as sb
import matplotlib
import statsmodels as sm
import numpy as np

### Read the CSV into Pandas dataframes

In [2]:
df_customers = pd.read_csv(f"C:/Users/desja/Dropbox/Backup of Jumper Laptop files continuous/Documents/Project Revamp Portfolio/Brazillian Ecommerce Dataset/olist_customers_dataset.csv")
df_geolocation = pd.read_csv(f"C:/Users/desja/Dropbox/Backup of Jumper Laptop files continuous/Documents/Project Revamp Portfolio/Brazillian Ecommerce Dataset/olist_geolocation_dataset.csv")
df_order_items = pd.read_csv(f"C:/Users/desja/Dropbox/Backup of Jumper Laptop files continuous/Documents/Project Revamp Portfolio/Brazillian Ecommerce Dataset/olist_order_items_dataset.csv")
df_order_payments = pd.read_csv(f"C:/Users/desja/Dropbox/Backup of Jumper Laptop files continuous/Documents/Project Revamp Portfolio/Brazillian Ecommerce Dataset/olist_order_payments_dataset.csv")                            
df_order_reviews = pd.read_csv(f"C:/Users/desja/Dropbox/Backup of Jumper Laptop files continuous/Documents/Project Revamp Portfolio/Brazillian Ecommerce Dataset/olist_order_reviews_dataset.csv")
df_orders = pd.read_csv(f"C:/Users/desja/Dropbox/Backup of Jumper Laptop files continuous/Documents/Project Revamp Portfolio/Brazillian Ecommerce Dataset/olist_orders_dataset.csv")
df_products = pd.read_csv(f"C:/Users/desja/Dropbox/Backup of Jumper Laptop files continuous/Documents/Project Revamp Portfolio/Brazillian Ecommerce Dataset/olist_products_dataset.csv")
df_sellers = pd.read_csv(f"C:/Users/desja/Dropbox/Backup of Jumper Laptop files continuous/Documents/Project Revamp Portfolio/Brazillian Ecommerce Dataset/olist_sellers_dataset.csv")
df_product_category_name = pd.read_csv(f"C:/Users/desja/Dropbox/Backup of Jumper Laptop files continuous/Documents/Project Revamp Portfolio/Brazillian Ecommerce Dataset/product_category_name_translation.csv")

### View the first few rows of the tables to get an idea of what is in them

In [3]:
print(df_customers.head())
print(df_geolocation.head())
print(df_order_items.head())
print(df_order_payments.head())
print(df_order_reviews.head())
print(df_orders.head())
print(df_products.head())
print(df_sellers.head())
print(df_product_category_name.head())

                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951
3                         1041       -23.544392       -46.639499
4                         1035       -23.541578       -46.641607

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP
3        sao paulo                SP
4        sao paulo                SP
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_comment_title  \
0             4                  NaN
1             5                  NaN
2             5                  NaN
3             5                  NaN
4             5                  NaN

                              review_comment_message review_creation_date  \
0                                                NaN  2018-01-18 00:00:00
1                                                NaN  2018-03-10 00:00:00
2                                                NaN  2018-02-17 00:00:00
3              Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4  Parab√©ns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00

  review_answer_timestamp
0     2018-01-18 21:46:59
1     2018-03-11 03:05:13
2     2018-02-18 14:36:24
3     2017-04-21 22:02:06
4     2018-03-02 10:26:53
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00
                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0
                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP
    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

### Iterate through each dataframe and each column within it to check for empty cells or question marks or NaN

In [4]:
#First store all the dataframes in a dictionary

df_dict = {'df_customers' : df_customers, 'df_geolocation' : df_geolocation, 'df_order_items' : df_order_items, 'df_order_payments' : df_order_payments
           , 'df_order_reviews' : df_order_reviews, 'df_orders' : df_orders, 'df_products' : df_products, 'df_sellers' : df_sellers, 
           'df_product_category_name' : df_product_category_name}


#Iterate through each dataframe in the dictionary

for name, data_frame in df_dict.items():


#Create new tables for columns with empty cells, question marks, or NaN
    
    empty_cells = data_frame.isnull()
    has_question_mark = (data_frame == '?')

#Iterate through these tables and count the total number of "True" values and print these counts if there are any true values
    
    for column in empty_cells.columns.values.tolist():
        if empty_cells[column].any():
            print(f"Table: {name} | Column: {column}")
            print("Empty Cells")
            print (empty_cells[column].value_counts())
            print("")

    for column in has_question_mark.columns.values.tolist():
        if has_question_mark[column].any():
            print(f"Table: {name} | Column: {column}")
            print("Has Question Mark")
            print (has_question_mark[column].value_counts())
            print("")

Table: df_order_reviews | Column: review_comment_title
Empty Cells
review_comment_title
True     87656
False    11568
Name: count, dtype: int64

Table: df_order_reviews | Column: review_comment_message
Empty Cells
review_comment_message
True     58247
False    40977
Name: count, dtype: int64

Table: df_order_reviews | Column: review_comment_title
Has Question Mark
review_comment_title
False    99223
True         1
Name: count, dtype: int64

Table: df_order_reviews | Column: review_comment_message
Has Question Mark
review_comment_message
False    99221
True         3
Name: count, dtype: int64

Table: df_orders | Column: order_approved_at
Empty Cells
order_approved_at
False    99281
True       160
Name: count, dtype: int64

Table: df_orders | Column: order_delivered_carrier_date
Empty Cells
order_delivered_carrier_date
False    97658
True      1783
Name: count, dtype: int64

Table: df_orders | Column: order_delivered_customer_date
Empty Cells
order_delivered_customer_date
False    96476
True      2965
Name: count, dtype: int64

Table: df_products | Column: product_category_name
Empty Cells
product_category_name
False    32341
True       610
Name: count, dtype: int64

Table: df_products | Column: product_name_lenght
Empty Cells
product_name_lenght
False    32341
True       610
Name: count, dtype: int64

Table: df_products | Column: product_description_lenght
Empty Cells
product_description_lenght
False    32341
True       610
Name: count, dtype: int64

Table: df_products | Column: product_photos_qty
Empty Cells
product_photos_qty
False    32341
True       610
Name: count, dtype: int64

Table: df_products | Column: product_weight_g
Empty Cells
product_weight_g
False    32949
True         2
Name: count, dtype: int64

Table: df_products | Column: product_length_cm
Empty Cells
product_length_cm
False    32949
True         2
Name: count, dtype: int64

Table: df_products | Column: product_height_cm
Empty Cells
product_height_cm
False    32949
True         2
Name: count, dtype: int64

Table: df_products | Column: product_width_cm
Empty Cells
product_width_cm
False    32949
True         2
Name: count, dtype: int64

##### Rename misspelled column names in product table

In [5]:
df_products.rename(columns = {"product_name_lenght" : "product_name_length"}, inplace=True)
df_products.rename(columns = {"product_description_lenght" : "product_description_length"}, inplace=True)

### Analyze NULL values in table and replace them strategically where appropriate

##### It is reasonable that the order reviews and title would be left blank or have a question mark.

##### After reviewing the orders table and the order_reviews table I determined that most of these products that are empties simply were never delivered.  The people often left reviews to the effect that they were upset, they left a poor rating for the company, and stated that they never received the product (consistent with the empty order_delivered_customer_date cells).  Thus I will simply leave these cells blank.  It is not a data entry error, or anything like that.

##### In cases where the order_approved_at column was empty, it appears the products were out of stock, and this wasn't always clearly communicated to the online shopper, as at least one was under the impression that their order went through and was upset that they didn't ever receive their order.

##### It appears that some replacement is in order in the case of orders that were never approved but were delivered.  I used the average "approval time" found in SQLite in hours to find the expected approval time for these NULL values below:

In [6]:
#Ensure the order_purchase_timestamp column is indeed a timestamp 
df_orders['order_purchase_timestamp'] = pd.to_datetime(df_orders['order_purchase_timestamp'])

#Record the average time to approve an order from the order_purchase_timestamp
avg_time_to_approve = 10.4190943019277

#Create my condition
condition = (df_orders['order_status'] == 'delivered') & (df_orders['order_approved_at'].isnull())

#Update entries that meet this condition with an "average"
df_orders.loc[condition, 'order_approved_at'] = (df_orders.loc[condition, 'order_purchase_timestamp'] + pd.to_timedelta(avg_time_to_approve, unit='h'))

##### In the case of product_category name and all of its NULL values, it appears these are simply miscellaneous products that did not fit under one of the main categories that are already listed.  I think the best thing to do in this case is to create a new category called "Miscellaneous" for these

In [7]:
df_products['product_category_name'] = df_products['product_category_name'].fillna('Miscellaneous')

##### This ensures that there aren't any product_category_names that are NULL.  Since it is evident that the remaining NULL/empty cells in the table are associated with specific products that were not categorized by the company and do not have corresponding data for them, it seems to me that the remaining fields are best left in their NULL state.  For example, the quantity of pictures was sometimes NULL for these specific uncategorized/miscellaneous products, but indeed some of the reviews indicated that there were photos online of these products, so simply putting 0 would be inaccurate.

##### Loop through the dictionary with the dataframes in it and print some basic statistical summary data

In [8]:
for name, df in df_dict.items():
    print(df.describe(include = "all"))

                             customer_id                customer_unique_id  \
count                              99441                             99441
unique                             99441                             96096
top     06b8999e2fba1a1fbc88172c00ba8bc7  8d50f5eadf50201ccdcedfb9e2ac8455
freq                                   1                                17
mean                                 NaN                               NaN
std                                  NaN                               NaN
min                                  NaN                               NaN
25%                                  NaN                               NaN
50%                                  NaN                               NaN
75%                                  NaN                               NaN
max                                  NaN                               NaN

        customer_zip_code_prefix customer_city customer_state
count               99441.000000         99441          99441
unique                       NaN          4119             27
top                          NaN     sao paulo             SP
freq                         NaN         15540          41746
mean                35137.474583           NaN            NaN
std                 29797.938996           NaN            NaN
min                  1003.000000           NaN            NaN
25%                 11347.000000           NaN            NaN
50%                 24416.000000           NaN            NaN
75%                 58900.000000           NaN            NaN
max                 99990.000000           NaN            NaN
        geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
count                  1.000163e+06     1.000163e+06     1.000163e+06
unique                          NaN              NaN              NaN
top                             NaN              NaN              NaN
freq                            NaN              NaN              NaN
mean                   3.657417e+04    -2.117615e+01    -4.639054e+01
std                    3.054934e+04     5.715866e+00     4.269748e+00
min                    1.001000e+03    -3.660537e+01    -1.014668e+02
25%                    1.107500e+04    -2.360355e+01    -4.857317e+01
50%                    2.653000e+04    -2.291938e+01    -4.663788e+01
75%                    6.350400e+04    -1.997962e+01    -4.376771e+01
max                    9.999000e+04     4.506593e+01     1.211054e+02

       geolocation_city geolocation_state
count           1000163           1000163
unique             8011                27
top           sao paulo                SP
freq             135800            404268
mean                NaN               NaN
std                 NaN               NaN
min                 NaN               NaN
25%                 NaN               NaN
50%                 NaN               NaN
75%                 NaN               NaN
max                 NaN               NaN
                                order_id  order_item_id  \
count                             112650  112650.000000
unique                             98666            NaN
top     8272b63d03f5f79c56e9e4120aec44ef            NaN
freq                                  21            NaN
mean                                 NaN       1.197834
std                                  NaN       0.705124
min                                  NaN       1.000000
25%                                  NaN       1.000000
50%                                  NaN       1.000000
75%                                  NaN       1.000000
max                                  NaN      21.000000

                              product_id                         seller_id  \
count                             112650                            112650
unique                             32951                              3095
top     aca2eb7d00ea1a7b8ebd4e68314663af  6560211a19b47992c3666cc44a7e94c0
freq                                 527                              2033
mean                                 NaN                               NaN
std                                  NaN                               NaN
min                                  NaN                               NaN
25%                                  NaN                               NaN
50%                                  NaN                               NaN
75%                                  NaN                               NaN
max                                  NaN                               NaN

        shipping_limit_date          price  freight_value
count                112650  112650.000000  112650.000000
unique                93318            NaN            NaN
top     2017-07-21 18:25:23            NaN            NaN
freq                     21            NaN            NaN
mean                    NaN     120.653739      19.990320
std                     NaN     183.633928      15.806405
min                     NaN       0.850000       0.000000
25%                     NaN      39.900000      13.080000
50%                     NaN      74.990000      16.260000
75%                     NaN     134.900000      21.150000
max                     NaN    6735.000000     409.680000
                                order_id  payment_sequential payment_type  \
count                             103886       103886.000000       103886
unique                             99440                 NaN            5
top     fa65dad1b0e818e3ccc5cb0e39231352                 NaN  credit_card
freq                                  29                 NaN        76795
mean                                 NaN            1.092679          NaN
std                                  NaN            0.706584          NaN
min                                  NaN            1.000000          NaN
25%                                  NaN            1.000000          NaN
50%                                  NaN            1.000000          NaN
75%                                  NaN            1.000000          NaN
max                                  NaN           29.000000          NaN

        payment_installments  payment_value
count          103886.000000  103886.000000
unique                   NaN            NaN
top                      NaN            NaN
freq                     NaN            NaN
mean                2.853349     154.100380
std                 2.687051     217.494064
min                 0.000000       0.000000
25%                 1.000000      56.790000
50%                 1.000000     100.000000
75%                 4.000000     171.837500
max                24.000000   13664.080000
                               review_id                          order_id  \
count                              99224                             99224
unique                             98410                             98673
top     7b606b0d57b078384f0b58eac1d41d78  c88b1d1b157a9999ce368f218a407141
freq                                   3                                 3
mean                                 NaN                               NaN
std                                  NaN                               NaN
min                                  NaN                               NaN
25%                                  NaN                               NaN
50%                                  NaN                               NaN
75%                                  NaN                               NaN
max                                  NaN                               NaN

        review_score review_comment_title review_comment_message  \
count   99224.000000                11568                  40977
unique           NaN                 4527                  36159
top              NaN            Recomendo              Muito bom
freq             NaN                  423                    230
mean        4.086421                  NaN                    NaN
std         1.347579                  NaN                    NaN
min         1.000000                  NaN                    NaN
25%         4.000000                  NaN                    NaN
50%         5.000000                  NaN                    NaN
75%         5.000000                  NaN                    NaN
max         5.000000                  NaN                    NaN

       review_creation_date review_answer_timestamp
count                 99224                   99224
unique                  636                   98248
top     2017-12-19 00:00:00     2017-06-15 23:21:05
freq                    463                       4
mean                    NaN                     NaN
std                     NaN                     NaN
min                     NaN                     NaN
25%                     NaN                     NaN
50%                     NaN                     NaN
75%                     NaN                     NaN
max                     NaN                     NaN
                                order_id                       customer_id  \
count                              99441                             99441
unique                             99441                             99441
top     e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
freq                                   1                                 1
mean                                 NaN                               NaN
min                                  NaN                               NaN
25%                                  NaN                               NaN
50%                                  NaN                               NaN
75%                                  NaN                               NaN
max                                  NaN                               NaN

       order_status       order_purchase_timestamp    order_approved_at  \
count         99441                          99441                99295
unique            8                            NaN                90747
top       delivered                            NaN  2018-02-27 04:31:10
freq          96478                            NaN                    9
mean            NaN  2017-12-31 08:43:12.776581120                  NaN
min             NaN            2016-09-04 21:15:19                  NaN
25%             NaN            2017-09-12 14:46:19                  NaN
50%             NaN            2018-01-18 23:04:36                  NaN
75%             NaN            2018-05-04 15:42:16                  NaN
max             NaN            2018-10-17 17:30:18                  NaN

       order_delivered_carrier_date order_delivered_customer_date  \
count                         97658                         96476
unique                        81018                         95664
top             2018-05-09 15:48:00           2018-05-08 23:38:46
freq                             47                             3
mean                            NaN                           NaN
min                             NaN                           NaN
25%                             NaN                           NaN
50%                             NaN                           NaN
75%                             NaN                           NaN
max                             NaN                           NaN

       order_estimated_delivery_date
count                          99441
unique                           459
top              2017-12-20 00:00:00
freq                             522
mean                             NaN
min                              NaN
25%                              NaN
50%                              NaN
75%                              NaN
max                              NaN
                              product_id product_category_name  \
count                              32951                 32951
unique                             32951                    74
top     1e9e8ef04dbcff4541ed26657ea517e5       cama_mesa_banho
freq                                   1                  3029
mean                                 NaN                   NaN
std                                  NaN                   NaN
min                                  NaN                   NaN
25%                                  NaN                   NaN
50%                                  NaN                   NaN
75%                                  NaN                   NaN
max                                  NaN                   NaN

        product_name_length  product_description_length  product_photos_qty  \
count          32341.000000                32341.000000        32341.000000
unique                  NaN                         NaN                 NaN
top                     NaN                         NaN                 NaN
freq                    NaN                         NaN                 NaN
mean              48.476949                  771.495285            2.188986
std               10.245741                  635.115225            1.736766
min                5.000000                    4.000000            1.000000
25%               42.000000                  339.000000            1.000000
50%               51.000000                  595.000000            1.000000
75%               57.000000                  972.000000            3.000000
max               76.000000                 3992.000000           20.000000

        product_weight_g  product_length_cm  product_height_cm  \
count       32949.000000       32949.000000       32949.000000
unique               NaN                NaN                NaN
top                  NaN                NaN                NaN
freq                 NaN                NaN                NaN
mean         2276.472488          30.815078          16.937661
std          4282.038731          16.914458          13.637554
min             0.000000           7.000000           2.000000
25%           300.000000          18.000000           8.000000
50%           700.000000          25.000000          13.000000
75%          1900.000000          38.000000          21.000000
max         40425.000000         105.000000         105.000000

        product_width_cm
count       32949.000000
unique               NaN
top                  NaN
freq                 NaN
mean           23.196728
std            12.079047
min             6.000000
25%            15.000000
50%            20.000000
75%            30.000000
max           118.000000
                               seller_id  seller_zip_code_prefix seller_city  \
count                               3095             3095.000000        3095
unique                              3095                     NaN         611
top     3442f8959a84dea7ee197c632cb2df15                     NaN   sao paulo
freq                                   1                     NaN         694
mean                                 NaN            32291.059451         NaN
std                                  NaN            32713.453830         NaN
min                                  NaN             1001.000000         NaN
25%                                  NaN             7093.500000         NaN
50%                                  NaN            14940.000000         NaN
75%                                  NaN            64552.500000         NaN
max                                  NaN            99730.000000         NaN

       seller_state
count          3095
unique           23
top              SP
freq           1849
mean            NaN
std             NaN
min             NaN
25%             NaN
50%             NaN
75%             NaN
max             NaN
       product_category_name product_category_name_english
count                     71                            71
unique                    71                            71
top             beleza_saude                 health_beauty
freq                       1                             1

##### Import a SQL library to run some exploratory SQL commands on the database

In [13]:
from sqlalchemy import create_engine

# 1. Load the extension first
%reload_ext sql

# 2. Define your path
db_path = r'C:\Users\desja\Dropbox\Backup of Jumper Laptop files continuous\Documents\Project Revamp Portfolio\Brazillian Ecommerce Dataset\olist.sqlite'

# 3. Create the engine (safest way to handle paths with spaces)
engine = create_engine(f"sqlite:///{db_path}")

# 4. Connect JupySQL to that engine
%sql engine

# 5. List all tables in the database to see their exact names
%sql SELECT name FROM sqlite_master WHERE type='table';

Running query in 'sqlite:///C:\\Users\\desja\\Dropbox\\Backup of Jumper Laptop files continuous\\Documents\\Project Revamp Portfolio\\Brazillian Ecommerce Dataset\\olist.sqlite'

+-----------------------------------+
|                name               |
+-----------------------------------+
| product_category_name_translation |
|              sellers              |
|             customers             |
|            geolocation            |
|            order_items            |
|           order_payments          |
|           order_reviews           |
|               orders              |
|              products             |
|          leads_qualified          |
+-----------------------------------+
Truncated to displaylimit of 10.

##### Order IDs in the orders table are all unique it turns out.  This is good.  Order IDs in the order_items table are in some cases duplicates because the customer ordered more than one item simultaneously.  This also makes sense.  See below:

In [17]:
%%sql
SELECT *
FROM order_items
WHERE order_id IN (
    -- Subquery: Find only the order_ids that appear more than once
    SELECT order_id
    FROM order_items
    GROUP BY order_id
    HAVING COUNT(order_id) > 1
)
ORDER BY order_id;

Running query in 'sqlite:///C:\\Users\\desja\\Dropbox\\Backup of Jumper Laptop files continuous\\Documents\\Project Revamp Portfolio\\Brazillian Ecommerce Dataset\\olist.sqlite'

+----------------------------------+---------------+----------------------------------+----------------------------------+---------------------+-------+---------------+
|             order_id             | order_item_id |            product_id            |            seller_id             | shipping_limit_date | price | freight_value |
+----------------------------------+---------------+----------------------------------+----------------------------------+---------------------+-------+---------------+
| 0008288aa423d2a3f00fcb17cd7d8719 |       1       | 368c6c730842d78016ad823897a372db | 1f50f920176fa81dab994f9023523100 | 2018-02-21 02:55:52 |  49.9 |     13.37     |
| 0008288aa423d2a3f00fcb17cd7d8719 |       2       | 368c6c730842d78016ad823897a372db | 1f50f920176fa81dab994f9023523100 | 2018-02-21 02:55:52 |  49.9 |     13.37     |
| 00143d0f86d6fbd9f9b38ab440ac16f5 |       1       | e95ee6822b66ac6058e2e4aff656071a | a17f621c590ea0fab3d5d883e1630ec6 | 2017-10-20 16:07:52 | 21.33 |      15.1     |
| 00143d0f86d6fbd9f9b38ab440ac16f5 |       2       | e95ee6822b66ac6058e2e4aff656071a | a17f621c590ea0fab3d5d883e1630ec6 | 2017-10-20 16:07:52 | 21.33 |      15.1     |
| 00143d0f86d6fbd9f9b38ab440ac16f5 |       3       | e95ee6822b66ac6058e2e4aff656071a | a17f621c590ea0fab3d5d883e1630ec6 | 2017-10-20 16:07:52 | 21.33 |      15.1     |
| 001ab0a7578dd66cd4b0a71f5b6e1e41 |       1       | 0b0172eb0fd18479d29c3bc122c058c2 | 5656537e588803a555b8eb41f07a944b | 2018-01-04 02:33:42 | 24.89 |     17.63     |
| 001ab0a7578dd66cd4b0a71f5b6e1e41 |       2       | 0b0172eb0fd18479d29c3bc122c058c2 | 5656537e588803a555b8eb41f07a944b | 2018-01-04 02:33:42 | 24.89 |     17.63     |
| 001ab0a7578dd66cd4b0a71f5b6e1e41 |       3       | 0b0172eb0fd18479d29c3bc122c058c2 | 5656537e588803a555b8eb41f07a944b | 2018-01-04 02:33:42 | 24.89 |     17.63     |
| 001d8f0e34a38c37f7dba2a37d4eba8b |       1       | e67307ff0f15ade43fcb6e670be7a74c | f4aba7c0bca51484c30ab7bdc34bcdd1 | 2017-05-18 17:35:11 | 18.99 |      7.78     |
| 001d8f0e34a38c37f7dba2a37d4eba8b |       2       | e67307ff0f15ade43fcb6e670be7a74c | f4aba7c0bca51484c30ab7bdc34bcdd1 | 2017-05-18 17:35:11 | 18.99 |      7.78     |
+----------------------------------+---------------+----------------------------------+----------------------------------+---------------------+-------+---------------+
Truncated to displaylimit of 10.

##### Below it is evident that the customer_unique_id helps identify repeat customers, which is great for marketting analysis.

In [24]:
%%sql
SELECT *
FROM customers
WHERE customer_unique_id IN (
    SELECT customer_unique_id
    FROM customers
    GROUP BY customer_unique_id
    HAVING COUNT(*) > 1
)
ORDER BY customer_unique_id;

Running query in 'sqlite:///C:\\Users\\desja\\Dropbox\\Backup of Jumper Laptop files continuous\\Documents\\Project Revamp Portfolio\\Brazillian Ecommerce Dataset\\olist.sqlite'

+----------------------------------+----------------------------------+--------------------------+---------------+----------------+
|           customer_id            |        customer_unique_id        | customer_zip_code_prefix | customer_city | customer_state |
+----------------------------------+----------------------------------+--------------------------+---------------+----------------+
| 1afe8a9c67eec3516c09a8bdcc539090 | 00172711b30d52eea8b313a7f2cced02 |          45200           |     jequie    |       BA       |
| 24b0e2bd287e47d54d193e7bbb51103f | 00172711b30d52eea8b313a7f2cced02 |          45200           |     jequie    |       BA       |
| 1b4a75b3478138e99902678254b260f4 | 004288347e5e88a27ded2bb23747066c |          26220           |  nova iguacu  |       RJ       |
| f6efe5d5c7b85e12355f9d5c3db46da2 | 004288347e5e88a27ded2bb23747066c |          26220           |  nova iguacu  |       RJ       |
| 49cf243e0d353cd418ca77868e24a670 | 004b45ec5c64187465168251cd1c9c2f |          57055           |     maceio    |       AL       |
| d95f60d70d9ea9a7fe37c53c931940bb | 004b45ec5c64187465168251cd1c9c2f |          57035           |     maceio    |       AL       |
| 8ac44e9c15d396b8c3c7cbab0fff4536 | 0058f300f57d7b93c477a131a59b36c3 |          41370           |    salvador   |       BA       |
| f530197ea86ced9488a03d055e118ebf | 0058f300f57d7b93c477a131a59b36c3 |          40731           |    salvador   |       BA       |
| 876356df457f952458a764348e1858bc | 00a39521eb40f7012db50455bf083460 |          72595           |    brasilia   |       DF       |
| cbb68c721ba9ddb30d8a490cc1897fa1 | 00a39521eb40f7012db50455bf083460 |          72595           |    brasilia   |       DF       |
+----------------------------------+----------------------------------+--------------------------+---------------+----------------+
Truncated to displaylimit of 10.